<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>域对象</h1>
<a th:href="@{/testRequestByServletApi}">测试HttpServletRequest域对象</a><br>
<a th:href="@{/testRequestByModelAndView}">测试ModelAndView域对象</a><br>
<a th:href="@{/testRequestByModel}">测试Model域对象</a><br>
<a th:href="@{/testRequestByMap}">测试Map域对象</a><br>
<a th:href="@{/testRequestByModelMap}">测试ModelMap域对象</a><br>
<br>
<a th:href="@{/testSession}">测试Session域对象</a><br>
<br>
<a th:href="@{/testApplication}">测试Application域对象</a><br>
</body>
</html>